/* stylelint-disable selector-no-qualifying-type */

div[data-block][data-placeholder]::before {
  color: #bbbfc4;
  content: attr(data-placeholder);
  height: 0;
  pointer-events: none;
  position: absolute;
}

div:not(div[data-block-type='ROOT']) > .block-kit-x-children {
  margin-left: 10px;
}
