/* stylelint-disable selector-no-qualifying-type */

div[data-block]::before {
  color: #bbbfc4;
  content: attr(data-placeholder);
  height: 0;
  pointer-events: none;
  position: absolute;
}

.block-kit-x-children {
  margin-left: 10px;
}
