.block-kit-x-table {
  .block-kit-x-table-td {
    border: 1px solid rgb(var(--gray-3, 229, 230, 235));
    box-sizing: border-box;
    min-width: 100px;
    padding: 5px;
    position: relative;
    vertical-align: top;
    word-break: break-word;
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  .block-kit-x-table-td {
    border-radius: 0;

    > .block-kit-x-selected-cover {
      background-color: rgba(20, 86, 240, 0.18);
      border-radius: 0;
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      user-select: none;
      width: 100%;
      z-index: 999999;
    }
  }

  .block-kit-x-table-cell-resize {
    background-color: transparent;
    bottom: 0;
    cursor: col-resize;
    position: absolute;
    right: -1px;
    top: 0;
    user-select: none;
    width: 4px;
    z-index: 10;
  }
}
