/* stylelint-disable selector-no-qualifying-type */
.block-kit-x-order {
  display: flex;

  >div[data-text-block] {
    flex: 1 0;
  }

  >.block-kit-x-order-marker {
    align-items: center;
    color: rgb(var(--arcoblue-6));
    display: flex;
    flex-shrink: 0;
    margin-right: 1px;
    padding: 0 5px;
    user-select: none;
  }
}

.block-kit-x-editable .block-kit-x-order-children {
  margin-left: 20px;
}
