@import '../../../node_modules/@block-kit/utils/dist/style/vars';

.block-kit-x-nav-menus {
  @include frame-box;

  border-radius: 3px;
  box-sizing: border-box;
  padding: 8px;
  width: 250px;
}

.block-kit-x-nav-menu {
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 5px;

  .arco-icon {
    margin-right: 4px;
  }

  &:hover {
    background-color: var(--color-fill-1);
  }
}
