/* stylelint-disable selector-no-qualifying-type */
.block-kit-x-codeblock {
  background-color: rgba(var(--gray-5), 0.2);
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 15px;
  padding-top: 8px;

  div[data-node] {
    line-height: 1.3;
  }
}

.token.operator {
  background-color: transparent !important;
}

.block-kit-x-codeblock-langs {
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  padding: 3px;
  user-select: none;

  &:hover {
    background-color: var(--color-fill-3);
  }
}

.block-x-code-hl-line {
  font-family: monospace;
  padding-left: 28px;
  position: relative;

  &::before {
    color: var(--color-text-3);
    content: attr(data-line-num);
    display: inline-block;
    left: 0;
    padding-right: 10px;
    pointer-events: none;
    position: absolute;
    text-align: right;
    width: 18px;
  }
}
