.block-kit-x-heading-h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 6px;
}

.block-kit-x-heading-h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 4px;
}

.block-kit-x-heading-h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 4px;
}

.block-kit-x-heading-h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
}

.block-kit-x-heading-h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 2px;
}

.block-kit-x-heading-h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 2px;
}
